In [1]:
import pandas as pd
import numpy as np

In [1]:
from sklearn.preprocessing import OneHotEncoder

from lightgbm import LGBMClassifier

from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error, r2_score, accuracy_score

In [2]:
from pycaret.classification import *

In [6]:
train = pd.read_csv("data/train.csv")

test = pd.read_csv("data/test.csv")

# sample = pd.read_csv("data/sample_submission.csv")

In [19]:
train.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Seat comfort', 'Departure/Arrival time convenient',
       'Food and drink', 'Gate location', 'Inflight wifi service',
       'Inflight entertainment', 'Online support', 'Ease of Online booking',
       'On-board service', 'Leg room service', 'Baggage handling',
       'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes', 'target'],
      dtype='object')

In [25]:
setup_clf = setup(data = train, target='target', n_jobs = -1)

In [27]:
top5 = compare_models(sort='Accuracy', n_select=3)

In [28]:
tuned_top5 = [tune_model(i) for i in top5]

In [29]:
blender_top5 = blend_models(estimator_list=tuned_top5, method='soft', choose_better = True)

In [30]:
final_model = finalize_model(blender_top5)

In [31]:
prediction = predict_model(final_model, data=test)

In [32]:
prediction

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,Label,Score
0,1,Female,Loyal Customer,61,Personal Travel,Eco,2037,1,1,1,...,5,5,5,3,5,3,51,58.0,1,0.9675
1,2,Female,disloyal Customer,27,Business travel,Business,1846,1,1,1,...,3,4,5,4,4,1,0,0.0,0,0.9716
2,3,Female,Loyal Customer,52,Business travel,Business,1622,4,4,4,...,5,5,5,4,5,3,0,0.0,1,0.9189
3,4,Male,Loyal Customer,54,Business travel,Business,3534,4,4,4,...,2,2,2,5,2,1,0,0.0,1,0.8625
4,5,Female,Loyal Customer,41,Business travel,Eco,1471,4,3,3,...,3,1,2,5,4,4,0,0.0,1,0.8965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Female,Loyal Customer,62,Business travel,Eco Plus,54,3,1,1,...,3,3,3,3,3,1,0,0.0,0,0.8669
1996,1997,Female,Loyal Customer,33,Business travel,Business,1937,4,4,4,...,5,5,5,1,5,3,95,99.0,1,0.9891
1997,1998,Male,Loyal Customer,29,Business travel,Eco,2398,3,5,4,...,1,2,3,4,2,3,0,3.0,0,0.9747
1998,1999,Female,Loyal Customer,51,Personal Travel,Business,406,5,2,5,...,2,5,2,2,2,2,87,83.0,1,0.9494
1999,2000,Female,Loyal Customer,46,Personal Travel,Eco Plus,436,5,5,5,...,4,4,4,5,4,3,0,0.0,1,0.9822

In [33]:
pd.DataFrame(prediction['Label'])

      Label
0         1
1         0
2         1
3         1
4         1
...     ...
1995      0
1996      1
1997      0
1998      1
1999      1

[2000 rows x 1 columns]

In [34]:
# pd.DataFrame(predict_test)

# pd.DataFrame(sample['id'])

output=pd.concat([pd.DataFrame(sample['id']), pd.DataFrame(prediction['Label'])],  axis = 1)

output.rename(columns = {'Label' : 'target'}, inplace = True)
#   

output.to_csv('data/output1.csv', index=False)

In [48]:
category_col = train.columns.difference(['id', 'Age','Flight Distrance','Departure Delay in Minutes', 'Arrival Delay in Minutes'])

for i in train.columns.difference(['id', 'Age','target','Flight Distrance','Departure Delay in Minutes', 'Arrival Delay in Minutes']):
    train['{}'.format(i)] = train['{}'.format(i)].astype('category')

for i in test.columns.difference(['id', 'Age','target','Flight Distrance','Departure Delay in Minutes', 'Arrival Delay in Minutes']):
    test['{}'.format(i)] = test['{}'.format(i)].astype('category')

In [50]:
train.info()
#

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 3000 non-null   int64
 1   Gender                             3000 non-null   category
 2   Customer Type                      3000 non-null   category
 3   Age                                3000 non-null   int64
 4   Type of Travel                     3000 non-null   category
 5   Class                              3000 non-null   category
 6   Flight Distance                    3000 non-null   category
 7   Seat comfort                       3000 non-null   category
 8   Departure/Arrival time convenient  3000 non-null   category
 9   Food and drink                     3000 non-null   category
 10  Gate location                      3000 non-null   category
 11  Inflight wifi service              3000 non-null   category
 12  Inflight entertainment             3000 non-null   category
 13  Online support                     3000 non-null   category
 14  Ease of Online booking             3000 non-null   category
 15  On-board service                   3000 non-null   category
 16  Leg room service                   3000 non-null   category
 17  Baggage handling                   3000 non-null   category
 18  Checkin service                    3000 non-null   category
 19  Cleanliness                        3000 non-null   category
 20  Online boarding                    3000 non-null   category
 21  Departure Delay in Minutes         3000 non-null   int64
 22  Arrival Delay in Minutes           3000 non-null   float64
 23  target                             3000 non-null   int64
dtypes: category(19), float64(1), int64(4)
memory usage: 274.8 KB

In [125]:
# train, valid

In [51]:
x=train[train.columns.difference(['id','target'])]

y = train['target']

x_test=test[test.columns.difference(['id','target'])]

x_train, x_valid, y_train, y_valid = train_test_split(x,y, test_size = 0.2, random_state = 42)

x_train,  y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)

In [105]:
pd.DataFrame(predict_test)

pd.DataFrame(sample['id'])

output=pd.concat([pd.DataFrame(sample['id']), pd.DataFrame(predict_test)],  axis = 1)

output.rename(columns = {0 : 'target'}, inplace = True)
#   

output.to_csv('data/output.csv', index=False)